<div class="row">
    <div class="col-md-12 text-center">
        <div class="btn-group"
            role="group"
            aria-label="Basic example">
            <button type="button"
                class="btn btn-secondary"
                [routerLink]="['nuevo', 'lo que sea']"
                routerLinkActive="active">nuevo</button>
            <button type="button"
                class="btn btn-secondary"
                [routerLink]="['editar']"
                routerLinkActive="active">Editar</button>
            <button type="button"
                class="btn btn-secondary"
                [routerLink]="['detalle']"
                routerLinkActive="active">Detalle</button>
        </div>
    </div>
</div>

<router-outlet></router-outlet>