<div class="alert"
    [ngClass]="alerta"
    role="alert">
    <strong>Bien hecho!</strong> A simple primary alert—check it out!
</div>

<button type="button"
    class="btn btn-info"
    (click)="alerta = 'alert-info'">Info</button>
<button type="button"
    class="btn btn-success"
    (click)="alerta = 'alert-success'">Success</button>

<br><br>

<h3 [ngClass]="{'text-danger': propiedades.danger, 'text-info': !propiedades.danger}">Hola mundo</h3>

<button type="button"
    class="btn"
    (click)="propiedades.danger = !propiedades.danger"
    [ngClass]="{'btn-danger': propiedades.danger, 'btn-info': !propiedades.danger}">Cambiar</button>


<br><br>

<h3>Proceso asíncrono</h3>

<button type="button"
    class="btn btn-primary"
    [disabled]="loading"
    (click)="ejecutarLoading()">
    <i class="fas"
        [ngClass]="{'fa-save':!loading,'fa-sync-alt fa-spin':loading}"
        style="margin-right: 5px;"></i>
    <span *ngIf="!loading">Guardar cambios</span>
    <span *ngIf="loading">Espere por favor</span>
</button>